{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="mt-3 px-3">
            <h1>Lac de Poses</h1>
            <p class="lead">Louez notre super matériel !</p>
        
        </div>
{% endblock %}
