{% extends 'base.html.twig' %}

{% block title %}New CommandeMateriel{% endblock %}

{% block body %}
    <h1>Create new CommandeMateriel</h1>

    {{ include('commande_materiel/_form.html.twig') }}

    <a href="{{ path('app_commande_index') }}">Finaliser la commande</a>

    <h2 class="mt-4">Matériels</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Quantité disponible</th>
            </tr>
        </thead>
        <tbody>
            {% for materiel in materiels_disponibles %}
                <tr>
                    <td>{{ materiel.nom }}</td>
                    <td>{{ materiel.quantite }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Aucun matériel disponible.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
